* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background-image: url("./img/Background (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .group {
  display: flex;
  justify-content: space-between;
}
header .group .group_2 img {
  cursor: pointer;
}
header .group .group_1 {
  display: flex;
  gap: 32px;
}
header .group .group_1 ul {
  color: #fff;
  gap: 16px;
  margin-top: 10px;
  display: flex;
}
header .group .group_1 ul li a {
  color: var(--neutral-900, #111827);
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
header .product {
  display: flex;
  justify-content: space-between;
  gap: 62px;
}
header .product .product_2 {
  margin-top: 96px;
}
header .product .product_1 {
  margin-top: 194px;
}
header .product .product_1 h1 {
  color: var(--neutral-900, #111827);
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.5px;
}
header .product .product_1 p {
  color: var(--neutral-700, #374151);
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 50px;
}
header .product .product_1 .btn_1 {
  cursor: pointer;
  background-color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  border: 1px solid #7C3AED;
  font-size: 17px;
  font-family: sans-serif;
  color: #7C3AED;
  transition: 0.5s all;
}
header .product .product_1 .btn_1:hover {
  margin-top: -10px;
  cursor: pointer;
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  background: var(--primary-600, #7C3AED);
  font-size: 17px;
  font-family: sans-serif;
  color: #fff;
}

.container {
  padding: 64px 112px;
  max-width: 1400px;
  margin: 0 auto;
}
.container .box {
  margin: 0 auto;
  padding: 30px 0px 30px 80px;
  width: 1216px;
  display: flex;
  gap: 100px;
}
.container .boxs {
  margin: 0 auto;
  width: 1216px;
  height: 1px;
  background-color: #E5E7EB;
  font-family: "Inter", sans-serif;
}
.container .cards {
  position: relative;
  top: 96px;
  margin: 0 auto;
  text-align: center;
}
.container .cards h1 {
  color: var(--neutral-900, #111827);
  text-align: center;
  font-size: 48px;
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.container .cards p {
  color: var(--neutral-900, #111827);
  text-align: center;
  font-family: "inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.container .cards_1 {
  padding: 112px;
  margin-top: 64px;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}
.container .cards_1 .card_1 {
  font-family: "inter";
  text-align: center;
}

@media (min-width: 680px) and (max-width: 960px) {
  header .container .group .group_1 .navbar {
    display: none;
  }
  header .container .product .product_1 h1 {
    font-size: 48px;
    line-height: none;
  }
  header .container .product .product_1 p {
    font-size: 16px;
  }
  header .container .product .product_1 .btn_1 {
    cursor: pointer;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    border: 1px solid #7C3AED;
    font-size: 14px;
    font-family: sans-serif;
    color: #7C3AED;
    transition: 0.5s all;
  }
  header .container .product .product_1 .btn_1:hover {
    margin-top: -10px;
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    background: var(--primary-600, #7C3AED);
    font-size: 14px;
    font-family: sans-serif;
    color: #fff;
  }
  header .container .product_2 {
    border: 1px solid red;
  }
  header .container .product_2 img {
    width: 300px;
    height: 600px;
  }
}
.section .container {
  padding: 30px 60px;
}
.section .container .boxs {
  height: 1px;
  background-color: #E5E7EB;
  font-family: "Inter", sans-serif;
  width: 800px;
}
.section .container .box {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 960px;
  flex-wrap: wrap;
}
.section .container .box .box_1 {
  margin-top: 40px;
  margin-left: 30px;
}
.section .container .box .box_1:nth-child(5) {
  margin-left: 250px;
  margin-top: -80px;
}
.section .container .box .box_1:nth-child(6) {
  margin-left: 0px;
  margin-top: -80px;
}/*# sourceMappingURL=main.css.map */